* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #fafafa;
  --dark: rgb(36, 94, 36);
  --darker: brown;
}

html, body {
  min-height: 100%;
}

.wrapper {
  background-color: var(--darker);
  color: var(--light);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 250px);
}

a {
  text-decoration: none;
  color: var(--light);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

a:hover {
  opacity: 1;
}

h1, h2 {
  font-family: 'Courier New', Courier, monospace;
}